/* Hover en toda la Card */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-hover:hover {
    transform: scale(1.03);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  }
  
  /* Hover específico en imágenes dentro de las Cards si quisieras usarlo después */
  .card-img-hover {
    transition: transform 0.3s ease;
  }
  